$color-primary: #557A95;
$color-secondary: #5D5C61;
$color-light-gray: #9C9C9C;
$color-grad-1: #89b1fb;
$color-grad-2: #82d9f4;

$color-gray-light-1: #f9f5f3; // Light background
$color-gray-light-2: #f2efee; // Light lines
$color-gray-light-3: #d3c7c3; // Light text (placeholder)
$color-gray-dark-1: #615551; // Normal text
$color-gray-dark-2: #918581; // Lighter text

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #5D5C61;
    color: whitesmoke;
    height: 4rem;
    padding: 0, 1rem;
    padding-left: 1rem;
    opacity: 0.9;
    border-bottom: 2px solid #557A95;
}

footer {
    width: 100%;
    background-color: #5D5C61;
    height: 2rem;
    padding: 0.5rem;
    border-top: 2px solid #557A95;
    font-size: 0.7rem;
    color: rgb(20, 20, 20);
    text-align: center;
    
}

.all-forms {
    width: 80%;
    margin: auto;
    padding: 2rem;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px lightgray;
}

label {
    display: none;
}

textarea, input, select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
}

button {
    font-size: 14px;
    min-width: 7rem;
    min-height: 2rem;
    border: 1px solid steelblue;
    background-color: gray;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
        box-shadow: 0 4px 6px 2px lightgray;
    }
}

textarea {
    height: 8rem;
    resize: none;
}

section {
    margin-bottom: 5rem;
}

body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1558979159-2b18a4070a87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    padding: 1rem 0 0 0;
    font-size: 1.5rem;
    margin-right: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    padding: 1.5rem 0 0 0;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-left: 0;
    margin-right: 3rem;
    margin-bottom: 0.2rem;
}

h3 {
    font-size: 1.25rem;
    padding: 0.5rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
    padding: 0.2rem 0rem;
    margin-top: 0.2rem;
    margin-right: 1rem;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.warn-a {
    color: darkred;
    font-weight: bold;
    width: 140px;
    border-radius: 4px;
    float: right;
}

img {
    width: 100%;
}

.add-image {
    opacity: 40%;
}

.rides {
    min-height: calc(100vh - 8rem);
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
    width: 90%;   
}

.header {
    width: 100%;
    background-image: linear-gradient(hsla(0,0%,80%,1), hsla(0,0%,0%,0));
}


.ride {
    list-style-type: none;
    width: 85%;
    border-radius: 4px 0 0 4px;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    display: flex;
    justify-content: flex-start;
}

.selected-ride {
    width: 100%
}

.hidden {
    display: none
}


.spinner {
    margin: 5rem auto;
    text-align: center;
  
    svg {
      height: 6rem;
      width: 6rem;
      fill: $color-primary;
      animation: rotate 2s infinite linear;
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }