// .login {
//     body {
//         margin-top: 40vh;
//     }
    
//     button {
//         margin-top: 1rem;
//         padding: 0.5rem;
//         width: 4rem;
//     }


// }

.modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    background-color: white;
    border-radius: 9px;
  
    padding: 3rem 3rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
    z-index: 1000;
    transition: all 0.5s;
  
    .btn--close-modal {
      font-family: inherit;
      color: inherit;
      position: absolute;
      top: 0.5rem;
      right: 1.6rem;
      font-size: 3.5rem;
      cursor: pointer;
      border: none;
      background: none;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
}
  
  .hidden {
    visibility: hidden;
    opacity: 0;
}

.btn--inline {
  color: $color-primary;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: $color-light-gray;
  padding: 0.5rem 0.5rem;
  border-radius: 12px;
  cursor: pointer;

  display: flex;
  align-items: center;
  transition: all 0.2s;

  svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
    margin: 0 0.2rem;
  }

  span {
    margin: 0 0.4rem;
  }

  &:hover {
    color: $color-grad-2;
    background-color: $color-light-gray;
  }

  &:focus {
    outline: none;
  }
}

.message,
.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;

  display: flex;

  svg {
    height: 3rem;
    width: 3rem;
    fill: $color-primary;
    transform: translateY(-0.3rem);
  }

  p {
    margin-left: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 600;
  }
}