.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-banner {
    padding: 2rem;
    font-family: 'Fugaz One', cursive;
    font-size: 4rem;
    color: $color-primary;
    text-align: center;
}

.entry-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f9;
    padding: 2rem;
    min-width: 15rem;
    width: 30rem;
    border: 1px solid $color-gray-light-2;
    border-radius: 8px;
    
    .login-form,
    .sign-up-form {
        input {
            width: 100%;
            height: 4rem;
            border: 2px solid $color-gray-light-2;
            border-radius: 8px;
            font-size: 1.3rem;       
        }
    
        .submit {
            background-color: $color-primary;
            font-size: 1.5rem;
            font-weight: bold;
            color: $color-gray-light-3;
            border: none;

            &:hover {
                box-shadow: 0 2px 5px $color-gray-dark-1;
            }
        }
    }

    .form-seperator {
        color: $color-secondary;
        display: inline-block;
        position: relative;
        font-size: 1rem;
        margin: 2rem 0;

        &:before {
            margin-right: 0.5rem;
            right: 100%;
        }

        &:after {
            margin-left: 0.5rem;
            left: 100%;
        }

        &:before, 
        &:after {
            background-color: $color-gray-dark-2;
            right: 100%;
            content: "";
            height: 1px;
            position: absolute;
            top: 50%;
            width: 10rem;
        }
    }
}

.info-box {
    display: flex;
    align-items: center;
    border: 1px solid #e2c822;
    background-color: #fff9d7;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    height: 3rem;

    p {
        padding-left: 1rem;
    }

    svg {
        width: 2rem;
    }

}

.toggle-screen-button {
    background-color: $color-grad-1;
    color: $color-gray-light-3;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    border: none;

    &:hover {
        box-shadow: 0 2px 5px $color-gray-dark-1;
    }
}