.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.welcome-message {
    display: flex;
    align-items: center;

    h1 {
        padding: 0
    }
}
.header-profile-image {
    margin-right: 0.5rem;
    
    img {
        border: 1px solid $color-secondary;
        border-radius: 50%;
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
}

.nav-link {
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
        font-weight: bold;
    }
}

.logout-button {
    width: 4rem;
    height: 100%;
    background-color: #7395AE;
    color: white;
}