.upload-ride {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    margin: auto;
    padding: 2rem;
    min-width: 15rem;
    width: 40rem;
    border: 1px solid $color-gray-light-2;
    border-radius: 8px;
    box-shadow: 5px 5px 5px $color-gray-light-2;
}

.ride-information,
.route-information {
    display: flex;
    flex-direction: column;
    min-width: 15rem;
}

.route-preview-box {
    height: 10rem;
}

.organize__date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
        width: 8rem;
    }
}