.upload-ride {
    display: flex;
    flex-direction: column;
    background-color: $color-gray-light-1;
    margin: auto;
    padding: 2rem;
    min-width: 600px;
    max-width: 700px;

    border: 1px solid $color-gray-light-2;
    border-radius: 8px;
    
    input,
    select {
        height: 4rem;
        border: 2px solid $color-gray-light-2;
        border-radius: 8px;
        font-size: 1.3rem;
        color: $color-gray-dark-3;
    }

    textarea {
        height: 8rem;
        border: 2px solid $color-gray-light-2;
        border-radius: 8px;
        font-family: inherit;
        font-size: 1.3rem;
        color: $color-gray-dark-3;
    }

    h1 {
        font-family: 'Fugaz One', cursive;
        font-size: 2.5rem;
        color: $color-primary;
        text-align: center;
        padding: 0;
    }
    
    .submit {
        background-color: $color-primary;
        font-size: 1.5rem;
        font-weight: bold;
        color: $color-gray-light-3;
        border: none;
    
        &:hover {
            box-shadow: 0 2px 5px $color-gray-dark-1;
        }
    }
}


.ride-information,
.route-information {
    display: flex;
    flex-direction: column;
    min-width: 15rem;
}

.route-preview-box {
    margin-top: 1rem;
    border: 1px solid $color-primary;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
        margin: 1rem;
    }

    :first-child {
        margin-left: 0;
    }

    :last-child {
        margin-right: 0;
    }
}