.ride-cover-image {
    margin-bottom: 1rem;
}

.ride__fig {
    height: 15rem;
    position: relative;
    transform-origin: top;

    &::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(
            to right bottom,
            $color-grad-1,
            $color-grad-2
        );
        opacity: 0.4;
    }
}

.ride__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

.ride__title {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: black;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    width: 80%;
    line-height: 1.95;
    text-align: center;

    span {
        -webkit-box-direction-break: clone;
        box-decoration-break: clone;
        padding: 1.3rem 2rem;
        background-image: linear-gradient(
            to right bottom,
            $color-grad-1,
            $color-grad-2
        );
        opacity: 0.9;
    }
}

.ride--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
}

.ride--details {
    padding-left: 1rem;
}

.selected-ride-section {
    min-height: 80vh;
    background-color: #7395AE;
    box-sizing: border-box;
    width: 80%;
}

.selected-ride-section-titlebar {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid; 
    border-image: linear-gradient(90deg, #557A95, transparent) 1;
}

.whos-going {
    min-height: 5rem;
    padding-left: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: flex-start;
    
    li {
        background-color: #9C9C9C;
        width: 120px;
        height: 140px;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 6px;
        
        img {
            max-width: 100px;
            max-height: 100px;
        }
    }
}

.join-ride-toggle-button {
    width: 4rem;
    height: 4rem;
    background-color: #557A95;
    border: 1px solid #9C9C9C;
    color: white;
    font-size: 1.2rem;
    margin-right: 1rem;
    box-shadow: 0px 5px 10px gray;
}

.join-ride-toggle-button:hover {
    box-shadow: 0px 5px 10px white;

}

.no-selected-ride {
    width: 80%;
    max-width: 40rem;
    margin: auto;
    margin-top: 5rem;
    // border: 2px solid green;
    border-radius: 8px;
    padding: 1rem 2rem;
    font-size: 1.5rem;

    h2 {
        font-family: 'Fugaz One', cursive;
        font-size: 4rem;
        color: $color-secondary;
        text-align: center;
        margin-bottom: 4rem;
    }

    p {
        font-size: 2rem;
    }
}

.ride-photo {
    border: 2px solid black;
    margin: 10px;
    /* box-shadow: 10px 10px 10px gray; */
    width: 100px;
}

.ride__route-map {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 2rem;    
}


