.ride-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    // margin: 1rem;
    // border-radius: 3px;
    color: #9C9C9C;
    background-color: #557A95;
    /* padding: 1.5rem; */
    box-shadow: 5px 5px 5px #7395AE;
}


.ride-list-card {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    background-color: #7395AE;
    width: 90%;
    
    :hover {
        cursor: pointer
    }

    .date {
        width: 3rem;
        background-color: #9C9C9C;
        color: #557A95;
        padding: 0.8rem 0.5rem;
        text-align: center;
        border-radius: 4px 0 0 4px;
    }


    h3 {
        color: rgb(31, 48, 59);
    }


}

.active { 
    box-shadow: 0px 0px 10px #9C9C9C;
    border: 1px solid #9C9C9C;
    
    h3 {
        color: rgb(224, 233, 253)
    }
}



.user-ride {
    background-color: #7395AE;
}

.non-user-ride {
    background-color: lightgray;
}


.ride-listing {
    display: flex;
    align-items: center;
    padding: 0.1rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: space-between;
    padding: 1.0rem;
    background-color: #557A95;

    .page-button {
        margin: 0.3rem;
    }
}

// .pagination {
//     margin-top: auto;
//     padding: 0 1.5rem;

//     &::after {
//       content: '';
//       display: table;
//       clear: both;
//     }

//     &__btn {
//       &--prev {
//         float: left;
//       }
//       &--next {
//         float: right;
//       }
//     }
//   }