* {
    box-sizing: border-box;
}

form {
    width: 500px;
    margin: auto;
    border: 2px solid gold;
    border-radius: 4px;
    padding: 2rem;
}

label {
    display: none;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input, select {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.login-input {
    width: 10%;
    padding: 0.5rem;
}

.login-button {
    width: 10%;
    padding: 0.5rem;
}