
/* Meyer's Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*Begin styles*/
* {
    box-sizing: border-box;
}

header {
    background-color: #5D5C61;
    color: whitesmoke;
    height: 4rem;
    padding: 0, 1rem;
    opacity: 0.9;
    border-bottom: 1px solid steelblue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logout-button {
    width: 4rem;
    height: 100%;
    background-color: #7395AE;
    color: white;
}
.ride-photo {
    border: 2px solid black;
    margin: 10px;
    /* box-shadow: 10px 10px 10px gray; */
    width: 100px;
}

.all-forms {
    width: 30%;
    margin: auto;
    padding: 2rem;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px lightgray;
}




label {
    display: none;
}

textarea, input, select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
}

button {
    font-size: 14px;
    width: 40px;
    border: 1px solid steelblue;
    background-color: gray;
}

textarea {
    height: 8rem;
    resize: none;
}

section {
    margin-bottom: 5rem;
}

body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1558979159-2b18a4070a87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 1.5rem;
    margin-right: 3rem;

}

h2 {
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-left: 1rem;
    margin-right: 3rem;
    margin-bottom:2rem;
}

h3 {
    font-size: 1.25rem;
    padding: 0.5rem;
    margin-top: 1.5rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 0.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom:2rem;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.warn-a {
    color: darkred;
    font-weight: bold;
    width: 140px;
    border-radius: 4px;
    float: right;
}

img {
    width: 100%;
}

.add-image {
    opacity: 40%;
}

.section-container {
    display: flex;
    align-items: flex-start;
}

#content-container {
    /* display: flex; */
    background-color: lightgray;
    width: 90%;
    margin: 2rem;
    text-align: left;
}

.header {
    width: 100%;
    background-image: linear-gradient(hsla(0,0%,80%,1), hsla(0,0%,0%,0));
}

.ride-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35%;
}

.ride-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem;
    background-color: whitesmoke;
    padding: 1.5rem;
    box-shadow: 5px 5px 5px lightgray;
}

.ride {
    list-style-type: none;

    width: 100%;
    padding: 0.5rem;
    padding-left: 1.5rem;
    border-radius: 0.25rem;
    margin-bottom: 0.25rem;
}

.motorcycle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;
    opacity: 95%;
}

.motorcycle {
    padding: 1.5rem;
    border-radius: 0.25rem;
    margin-bottom: 0.25rem;
    background-color: whitesmoke;
    padding: 1.5rem;
    box-shadow: 5px 5px 5px lightgray;
    width: 40%;
    margin: 2rem;
}

.user-ride {
    background-color: slateblue;
}

.non-user-ride {
    background-color: lightgray;
}



